<!-- Open Graph -->
<meta property="og:type" content="article">
<meta property="og:title" content="页面标题">
<meta property="og:description" content="页面描述">
<meta property="og:url" content="http://REDACTED_IP/页面路径">
<meta property="og:image" content="http://REDACTED_IP/img/cover.jpg">
<meta property="og:site_name" content="InvernoFrio的博客">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="页面标题">
<meta name="twitter:description" content="页面描述">
<meta name="twitter:image" content="http://REDACTED_IP/img/cover.jpg">
